<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style/style.css}">
</head>
<body class="bg-img">
<div class="container h-100 text-center d-flex flex-column justify-content-center">
    <div class="w-75 py-4 align-self-center glass_effect">
        <h3 class="opacity-75">You have signed up successfully!</h3>
        <h4><a href="/login" class="text-dark">Click here to Login</a></h4>
    </div>
</div>

</body>
</html>